/* styles/scrollbar.css */
.cute-scrollbar {
   scrollbar-width: thin;
   scrollbar-color: #dad9d9 #f9fafb;
}

.cute-scrollbar::-webkit-scrollbar {
   height: 6px;
   width: 6px;
   background: #ababab;
   border-radius: 8px;
}

.cute-scrollbar::-webkit-scrollbar-thumb {
   background: #676767;
   border-radius: 8px;
}

.cute-scrollbar2 {
   scrollbar-width: thin;
   scrollbar-color: #f9fafb #f9fafb;
}

.cute-scrollbar2::-webkit-scrollbar {
   height: 6px;
   width: 6px;
   background: #f3f4f6;
   border-radius: 8px;
}

.cute-scrollbar2::-webkit-scrollbar-thumb {
   background: #f3f4f6;
   border-radius: 8px;
}